APP_PORT=8000

MONGODB_URL=mongodb://mongo:27017/aluguel-veiculo
# MONGODB_URL=mongodb+srv://alanaaugusto102_db_user:libUG2ydft9etpvC@aluguel-veiculo.vyzzggm.mongodb.net/

MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=aluguelVeiculo-bucket